<section class="footer">
    <hr>
    <h4>About us</h4>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Assumenda quidem cumque quaerat eaque, dolor dolore natus necessitatibus voluptatem officia eligendi doloribus rem quo sunt perferendis accusamus suscipit id quibusdam voluptate!</p>
    <br>
    <i class="ri-facebook-fill"></i>
    <i class="ri-twitter-x-line"></i>
    <i class="ri-github-fill"></i>
    <i class="ri-instagram-line"></i>
    <i class="ri-linkedin-box-line"></i>
</section>